<template>
    <div class="uk-section uk-section-default">
        <h2>Threads for {{ site.caption }}</h2>
        <div id="thread-modal" class="uk-flex-top" :uk-modal="''">
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">{{ modalTitle }}</h2>
                </div>
                <div class="uk-modal-body">
                    <form class="uk-form-stacked">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="thread-caption-input">Caption</label>
                            <div class="uk-form-controls">
                                <input id="thread-caption-input" class="uk-input" type="text" placeholder="caption" v-model="modalThread.caption">
                            </div>
                            <div class="uk-alert-danger" :uk-alert="''" v-if="captionValidationErrors.length > 0">
                                <ul>
                                    <li v-for="message of captionValidationErrors">{{ message }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="thread-token-input">Token</label>
                            <div class="uk-form-controls">
                                <input id="thread-token-input" class="uk-input" type="text" placeholder="&lt;leave empty to generate&gt;" v-model="modalThread.token">
                            </div>
                            <div class="uk-alert-danger" :uk-alert="''" v-if="tokenValidationErrors.length > 0">
                                <ul>
                                    <li v-for="message of tokenValidationErrors">{{ message }}</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default" type="button" @click.prevent.stop="hideModal">Cancel</button>
                    <button class="uk-button uk-button-primary" type="button" @click.prevent.stop="saveModal">Save</button>
                </div>
            </div>
        </div>
        <button class="uk-button uk-button-default" type="button" @click.prevent.stop="newThread">Create new thread</button>
        <table class="uk-table uk-table-striped uk-table-hover uk-table-small">
            <thead>
            <tr>
                <th>Caption</th>
                <th>Token</th>
                <th class="uk-width-auto">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(thread, index) of threads" :key="thread.id">
                <td>{{ thread.caption }}</td>
                <td>{{ thread.token }}</td>
                <td>
                    <ul class="uk-iconnav">
                        <li><a :href="'/admin/threads/' + thread.id" title="View comments"><span :uk-icon="'comments'"></span></a></li>
                        <li><a href="#" @click.prevent.stop="editThread(thread, index)" title="Edit"><span :uk-icon="'pencil'"></span></a></li>
                        <li><a href="#" @click.prevent.stop="deleteThread(thread, index)" title="Delete"><span :uk-icon="'trash'"></span></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <simple-pagination ref="pagination" :url="threadListUrl" @page-changed="pageChanged($event)"></simple-pagination>
    </div>
</template>

<script>
    import axios from 'axios';
    import UIkit from 'uikit';

    import apiErrorHandler from '../modules/apiErrors';

    import SimplePagination from './simple-pagination';


    export default {
        name: 'admin-threads',
        props: ['siteId'],
        components: {
            SimplePagination
        },
        data() {
            return {
                modalTitle: 'Create thread',
                modalThread: {
                    id: -1,
                    caption: '',
                    token: '',
                    siteId: -1
                },
                modalIndex: -1,
                captionValidationErrors: [],
                tokenValidationErrors: [],
                threads: [],
                site: {
                    id: -1,
                    caption: ''
                }
            };
        },
        computed: {
            threadListUrl: function () {
                return '/admin/api/sites/' + this.siteId + '/threads';
            }
        },
        methods: {
            newThread: function () {
                this.captionValidationErrors = [];
                this.tokenValidationErrors = [];
                this.modalTitle = 'Create thread';
                this.modalThread = {
                    id: -1,
                    caption: '',
                    token: ''
                };
                this.modalIndex = -1;
                UIkit.modal(document.getElementById('thread-modal')).show();
            },
            editThread: function (thread, index) {
                this.captionValidationErrors = [];
                this.tokenValidationErrors = [];
                this.modalTitle = 'Update thread';
                this.modalThread = Object.assign({}, thread);
                this.modalIndex = index;
                UIkit.modal(document.getElementById('thread-modal')).show();
            },
            deleteThread: function (thread, index) {
                UIkit.modal.confirm('Are you sure you want to delete the thread "' + thread.caption + '"? ' +
                    'All comments belonging to this thread will be deleted as well!').then(async () => {
                    try {
                        await axios.delete('/admin/api/threads/' + thread.id);
                        this.threads.splice(index, 1);
                        this.$refs.pagination.removeItem();
                    } catch (error) {
                        apiErrorHandler(error);
                    }
                });
            },
            hideModal: function () {
                UIkit.modal(document.getElementById('thread-modal')).hide();
            },
            saveModal: async function () {
                function handleError(app, error) {
                    app.captionValidationErrors = [];
                    app.tokenValidationErrors = [];
                    apiErrorHandler(error, [{
                        test: /^caption/,
                        data: app.captionValidationErrors
                    }, {
                        test: /^token/,
                        data: app.tokenValidationErrors
                    }]);
                }

                if (this.modalThread.token === '') {
                    delete this.modalThread.token;
                }

                if(this.modalIndex >= 0) {
                    try {
                        await axios.patch('/admin/api/threads/' + this.modalThread.id, this.modalThread);

                        if(this.modalThread.token === undefined) {
                            this.modalThread = (await axios.get('/admin/api/threads/' + this.modalThread.id)).data.data;
                        }

                        this.$set(this.threads, this.modalIndex, this.modalThread);
                        this.hideModal();
                    } catch (error) {
                        handleError(this, error);
                    }
                } else {
                    try {
                        this.modalThread.siteId = this.site.id;
                        await axios.post('/admin/api/sites/' + this.siteId + '/threads', this.modalThread);
                        this.$refs.pagination.addItem();
                        this.hideModal();
                    } catch (error) {
                        handleError(this, error);
                    }
                }
            },
            pageChanged: async function (threads) {
                this.threads = threads;
            }
        },
        beforeMount: async function () {
            try {
                const response = await axios.get('/admin/api/sites/' + this.siteId);
                this.site = response.data.data;
            } catch (error) {
                apiErrorHandler(error);
            }
        }
    }
</script>

<style scoped>

</style>