<template>
    <div class="uk-section uk-section-default">
        <h2>Users</h2>
        <div id="user-modal" class="uk-flex-top" :uk-modal="''">
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">{{ modalTitle }}</h2>
                </div>
                <div class="uk-modal-body">
                    <form class="uk-form-stacked">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="user-email-input">E-Mail</label>
                            <div class="uk-form-controls">
                                <input id="user-email-input" class="uk-input" type="text" placeholder="e-mail" v-model="modalUser.email">
                            </div>
                            <div class="uk-alert-danger" :uk-alert="''" v-if="emailValidationErrors.length > 0">
                                <ul>
                                    <li v-for="message of emailValidationErrors">{{ message }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="user-name-input">Name</label>
                            <div class="uk-form-controls">
                                <input id="user-name-input" class="uk-input" type="text" placeholder="name" v-model="modalUser.name">
                            </div>
                            <div class="uk-alert-danger" :uk-alert="''" v-if="nameValidationErrors.length > 0">
                                <ul>
                                    <li v-for="message of nameValidationErrors">{{ message }}</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default" type="button" @click.prevent.stop="hideModal">Cancel</button>
                    <button class="uk-button uk-button-primary" type="button" @click.prevent.stop="saveModal">Save</button>
                </div>
            </div>
        </div>
        <table class="uk-table uk-table-striped uk-table-hover uk-table-small">
            <thead>
            <tr>
                <th>E-Mail</th>
                <th>Name</th>
                <th>Recorded</th>
                <th>Registered</th>
                <th>Last edit</th>
                <th class="uk-table-shrink">Comments</th>
                <th class="uk-width-auto">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(user, index) of users" :key="user.id">
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ new Date(user.recordTime).toLocaleString() }}</td>
                <td>{{ user.registerTime === null ? '' : new Date(user.registerTime).toLocaleString() }}</td>
                <td>{{ new Date(user.editTime === null ? user.registerTime : user.editTime).toLocaleString() }}</td>
                <td>{{ user.commentCount }}</td>
                <td>
                    <ul class="uk-iconnav">
                        <li><a :href="'/admin/users/' + user.id + '/comments'" title="View comments"><span :uk-icon="'comments'"></span></a></li>
                        <li><a href="#" @click.prevent.stop="editUser(user, index)" title="Edit"><span :uk-icon="'pencil'"></span></a></li>
                        <li><a href="#" @click.prevent.stop="deleteUser(user, index)" title="Delete"><span :uk-icon="'trash'"></span></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <simple-pagination ref="pagination" url="/admin/api/users" @page-changed="pageChanged($event)"></simple-pagination>
    </div>
</template>

<script>
    import axios from 'axios';
    import UIkit from 'uikit';

    import apiErrorHandler from '../modules/apiErrors';

    import SimplePagination from './simple-pagination';


    export default {
        name: 'admin-users',
        components: {
            SimplePagination
        },
        data() {
            return {
                modalTitle: 'Update user',
                modalUser: {
                    id: -1,
                    email: '',
                    name: ''
                },
                modalIndex: -1,
                emailValidationErrors: [],
                nameValidationErrors: [],
                users: []
            };
        },
        methods: {
            editUser: function (user, index) {
                this.emailValidationErrors = [];
                this.nameValidationErrors = [];
                this.modalTitle = 'Update user';
                this.modalUser = Object.assign({}, user);
                this.modalIndex = index;
                UIkit.modal(document.getElementById('user-modal')).show();
            },
            deleteUser: function (user, index) {
                UIkit.modal.confirm('Are you sure you want to delete the user "' + user.email + '"? ' +
                    'All comments belonging to this user will be deleted as well!').then(async () => {
                    try {
                        await axios.delete('/admin/api/users/' + user.id);
                        this.users.splice(index, 1);
                        this.$refs.pagination.removeItem();
                    } catch (error) {
                        apiErrorHandler(error);
                    }
                });
            },
            hideModal: function () {
                UIkit.modal(document.getElementById('user-modal')).hide();
            },
            saveModal: async function () {
                function handleError(app, error) {
                    app.emailValidationErrors = [];
                    app.nameValidationErrors = [];
                    apiErrorHandler(error, [{
                        test: /^email/,
                        data: app.emailValidationErrors
                    }, {
                        test: /^name/,
                        data: app.nameValidationErrors
                    }]);
                }

                if(this.modalIndex >= 0) {
                    try {
                        await axios.patch('/admin/api/users/' + this.modalUser.id, this.modalUser);
                        this.$set(this.users, this.modalIndex, this.modalUser);
                        this.hideModal();
                    } catch (error) {
                        handleError(this, error);
                    }
                } else {
                    try {
                        this.modalUser.siteId = this.site.id;
                        await axios.post('/admin/api/users', this.modalUser);
                        this.$refs.pagination.addItem();
                        this.hideModal();
                    } catch (error) {
                        handleError(this, error);
                    }
                }
            },
            pageChanged: async function (users) {
                this.users = users;
            }
        }
    }
</script>

<style scoped>

</style>