<template>
    <div class="uk-section uk-section-default">
        <h2>Sites</h2>
        <div id="site-modal" class="uk-flex-top" :uk-modal="''">
            <div class="uk-modal-dialog uk-margin-auto-vertical">
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">{{ modalTitle }}</h2>
                </div>
                <div class="uk-modal-body">
                    <form class="uk-form-stacked">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="site-caption-input">Caption</label>
                            <div class="uk-form-controls">
                                <input id="site-caption-input" class="uk-input" type="text" placeholder="caption" v-model="modalSite.caption">
                            </div>
                            <div class="uk-alert-danger" :uk-alert="''" v-if="captionValidationErrors.length > 0">
                                <ul>
                                    <li v-for="message of captionValidationErrors">{{ message }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="site-url-input">Url</label>
                            <div class="uk-form-controls">
                                <input id="site-url-input" class="uk-input" type="text" placeholder="url" v-model="modalSite.url">
                            </div>
                            <div class="uk-alert-danger" :uk-alert="''" v-if="urlValidationErrors.length > 0">
                                <ul>
                                    <li v-for="message of urlValidationErrors">{{ message }}</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default" type="button" @click.prevent.stop="hideModal">Cancel</button>
                    <button class="uk-button uk-button-primary" type="button" @click.prevent.stop="saveModal">Save</button>
                </div>
            </div>
        </div>
        <button class="uk-button uk-button-default" type="button" @click.prevent.stop="newSite">Create new site</button>
        <table class="uk-table uk-table-striped uk-table-hover uk-table-small">
            <thead>
            <tr>
                <th>Caption</th>
                <th>Url</th>
                <th class="uk-width-auto">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(site, index) of sites" :key="site.id">
                <td>{{ site.caption }}</td>
                <td>{{ site.url }}</td>
                <td>
                    <ul class="uk-iconnav">
                        <li><a :href="'/admin/sites/' + site.id + '/threads'" title="View threads"><span :uk-icon="'list'"></span></a></li>
                        <li><a href="#" @click.prevent.stop="editSite(site, index)" title="Edit"><span :uk-icon="'pencil'"></span></a></li>
                        <li><a href="#" @click.prevent.stop="deleteSite(site, index)" title="Delete"><span :uk-icon="'trash'"></span></a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <simple-pagination ref="pagination" url="/admin/api/sites" @page-changed="pageChanged($event)"></simple-pagination>
    </div>
</template>

<script>
    import axios from 'axios';
    import UIkit from 'uikit';

    import apiErrorHandler from '../modules/apiErrors';

    import SimplePagination from './simple-pagination';

    export default {
        name: "admin-sites",
        components: {
            SimplePagination
        },
        data () {
            return {
                modalTitle: 'Create site',
                modalSite: {
                    id: -1,
                    caption: '',
                    url: ''
                },
                modalIndex: -1,
                captionValidationErrors: [],
                urlValidationErrors: [],
                sites: []
            };
        },
        computed: {
            pageCount: function() {
                return Math.ceil(this.total / this.pageSize);
            },
            lastPage: function() {
                return this.pageCount - 1;
            }
        },
        methods: {
            newSite: function () {
                this.captionValidationErrors = [];
                this.urlValidationErrors = [];
                this.modalTitle = 'Create site';
                this.modalSite = {
                    id: -1,
                    caption: '',
                    url: ''
                };
                this.modalIndex = -1;
                UIkit.modal(document.getElementById('site-modal')).show();
            },
            editSite: function (site, index) {
                this.captionValidationErrors = [];
                this.urlValidationErrors = [];
                this.modalTitle = 'Update site';
                this.modalSite = Object.assign({}, site);
                this.modalIndex = index;
                UIkit.modal(document.getElementById('site-modal')).show();
            },
            deleteSite: function (site, index) {
                UIkit.modal.confirm('Are you sure you want to delete the site "' + site.caption + '"? ' +
                    'All threads and comments belonging to this site will be deleted as well!').then(async () => {
                    try {
                        await axios.delete('/admin/api/sites/' + site.id);
                        this.sites.splice(index, 1);
                        this.$refs.pagination.removeItem();
                    } catch (error) {
                        apiErrorHandler(error);
                    }
                });
            },
            hideModal: function () {
                UIkit.modal(document.getElementById('site-modal')).hide();
            },
            saveModal: async function () {
                function handleError(app, error) {
                    app.captionValidationErrors = [];
                    app.urlValidationErrors = [];
                    apiErrorHandler(error, [{
                        test: /^caption/,
                        data: app.captionValidationErrors
                    }, {
                        test: /^url/,
                        data: app.urlValidationErrors
                    }]);
                }

                if(this.modalIndex >= 0) {
                    try {
                        await axios.patch('/admin/api/sites/' + this.modalSite.id, this.modalSite);
                        this.$set(this.sites, this.modalIndex, this.modalSite);
                        this.hideModal();
                    } catch (error) {
                        handleError(this, error);
                    }
                } else {
                    try {
                        await axios.post('/admin/api/sites', this.modalSite);
                        this.$refs.pagination.addItem();
                        this.hideModal();
                    } catch (error) {
                        handleError(this, error);
                    }
                }
            },
            pageChanged: async function (data) {
                this.sites = data;
            }
        }
    }
</script>

<style scoped>

</style>