<template>
    <ul class="uk-pagination uk-flex-center" :uk-margin="''" v-if="total > pageSize">
        <li v-if="page > 0"><a href="#" @click.stop.prevent="goToPage(page - 1)"><span :uk-pagination-previous="''"></span></a></li>
        <li><a href="#" @click.stop.prevent="goToPage(0)">1</a></li>
        <li v-if="page - 4 > 0" class="uk-disabled"><span>...</span></li>
        <li v-if="page - 3 > 0"><a href="#" @click.stop.prevent="goToPage(page - 3)">{{ page - 2 }}</a></li>
        <li v-if="page - 2 > 0"><a href="#" @click.stop.prevent="goToPage(page - 2)">{{ page - 1 }}</a></li>
        <li v-if="page - 1 > 0"><a href="#" @click.stop.prevent="goToPage(page - 1)">{{ page }}</a></li>
        <li v-if="page > 0 && page < lastPage" class="uk-active"><span>{{ page + 1 }}</span></li>
        <li v-if="page + 1 < lastPage"><a href="#" @click.stop.prevent="goToPage(page + 1)">{{ page + 2 }}</a></li>
        <li v-if="page + 2 < lastPage"><a href="#" @click.stop.prevent="goToPage(page + 2)">{{ page + 3 }}</a></li>
        <li v-if="page + 3 < lastPage"><a href="#" @click.stop.prevent="goToPage(page + 3)">{{ page + 4 }}</a></li>
        <li v-if="page + 4 < lastPage" class="uk-disabled"><span>...</span></li>
        <li v-if="pageCount > 1"><a href="#" @click.stop.prevent="goToPage(lastPage)">{{ pageCount }}</a></li>
        <li v-if="page < lastPage"><a href="#" @click.stop.prevent="goToPage(page + 1)"><span :uk-pagination-next="''"></span></a></li>
    </ul>
</template>

<script>
    import axios from 'axios';
    import apiErrorHandler from '../modules/apiErrors';

    export default {
        name: 'simple-pagination',
        props: ['url'],
        data () {
            return {
                page: 0,
                pageSize: 20,
                total: 0
            };
        },
        computed: {
            pageCount: function() {
                return Math.ceil(this.total / this.pageSize);
            },
            lastPage: function() {
                return Math.max(0, this.pageCount - 1);
            }
        },
        methods: {
            goToPage: async function (page) {
                try {
                    const response = await axios.get(this.url, {
                        params: {
                            page: page,
                            pageSize: this.pageSize
                        }
                    });

                    this.total = response.data.total;
                    this.page = page;

                    this.$emit('page-changed', response.data.data);
                } catch (error) {
                    apiErrorHandler(error);
                }
            },
            addItem: function () {
                this.total += 1;
                this.goToPage(this.lastPage);
            },
            removeItem: function () {
                this.total -= 1;
                if (this.lastPage < this.page) {
                    this.goToPage(this.lastPage);
                } else {
                    this.goToPage(this.page);
                }
            }
        },
        mounted: function () {
            this.goToPage(0);
        }
    }
</script>

<style scoped>

</style>