{% extends "admin-base.html.twig" %}

{% block head_scripts %}
    <script src="{{ basePath }}/js/admin-users.bundle.js?{{ random() }}"></script>
{% endblock %}

{% block admin_body %}
    <admin-users></admin-users>
{% endblock %}