{% extends "admin-base.html.twig" %}

{% block head_scripts %}
    <script src="{{ basePath }}/js/admin-sites.bundle.js?{{ random() }}"></script>
{% endblock %}

{% block admin_body %}
    <admin-sites></admin-sites>
{% endblock %}
