{% extends "admin-base.html.twig" %}

{% block head_scripts %}
    <script src="{{ basePath }}/js/admin-threads.bundle.js?{{ random() }}"></script>
{% endblock %}

{% block admin_body %}
    <admin-threads site-id="{{ siteId }}"></admin-threads>
{% endblock %}