{% extends "base.html.twig" %}

{% block body %}
    <div id="app">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="{{ basePath }}/admin/sites">Sites</a></li>
                <li><a href="{{ basePath }}/admin/users">Users</a></li>
                <li><a href="{{ basePath }}/admin/permissions">Permissions</a></li>
                <li><a href="{{ basePath }}/admin/reservations">Reservations</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="" v-on:click.stop.prevent="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    {% block admin_body %}
    {% endblock %}
    </div>
{% endblock %}