<!DOCTYPE html>
<html>
    <head>
        <title>Crow Comments</title>
        <link href="{{ basePath }}/styles/commons.css?{{ random() }}" rel="stylesheet">
        {% block head_links %}
        {% endblock %}
        <script src="{{ basePath }}/js/commons.bundle.js?{{ random() }}"></script>
        <script src="{{ basePath }}/js/dependencies.bundle.js?{{ random() }}"></script>
        {% block head_scripts %}
        {% endblock %}
        <script>
            const basePath = '{{ basePath }}';
        </script>
    </head>
    <body>
        <div class="uk-container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>