{% extends "base.html.twig" %}

{% block head_links %}
{% endblock %}

{% block head_scripts %}
    <script src="{{ basePath }}/js/login.bundle.js?{{ random() }}"></script>
{% endblock %}

{% block body %}
    <main class="uk-margin-large-top" id="app">
        <div class="uk-container-xsmall">
            <h2>Login</h2>
            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="email">E-Mail</label>
                    <div class="uk-form-controls uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip uk-text-success" :uk-icon="'icon: check'" v-if="emailValid === true"></span>
                        <span class="uk-form-icon uk-form-icon-flip uk-text-danger" :uk-icon="'icon: close'" v-if="emailValid === false"></span>
                        <input class="uk-input" id="email" name="email" type="text" placeholder="e-mail" v-model="email">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="password">Password</label>
                    <div class="uk-form-controls uk-inline uk-width-1-1">
                        <input class="uk-input" id="password" name="password" type="password" placeholder="password" v-model="password">
                    </div>
                </div>
                <div class="uk-margin">
                    <!--suppress XmlUnboundNsPrefix -->
                    <button class="uk-button uk-button-primary" id="registerSubmit" v-on:click.stop.prevent="login" :disabled="loggingIn || !loginPossible">Login</button>
                    <div class="uk-margin-left" :uk-spinner="''" v-if="loggingIn"></div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}