{% extends "base.html.twig" %}

{% block head_links %}
{% endblock %}

{% block head_scripts %}
    <script src="{{ basePath }}/js/register.bundle.js?{{ random() }}"></script>
{% endblock %}

{% block body %}
<main class="uk-margin-large-top" id="app">
    <div class="uk-container-xsmall">
        <h2>Register</h2>
        <form class="uk-form-stacked">
            <div class="uk-margin">
                <label class="uk-form-label" for="email">E-Mail</label>
                <div class="uk-form-controls uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip uk-text-success" :uk-icon="'icon: check'" v-if="emailSuccess === true"></span>
                    <span class="uk-form-icon uk-form-icon-flip uk-text-danger" :uk-icon="'icon: close'" v-if="emailSuccess === false"></span>
                    <input class="uk-input" id="email" name="email" type="text" placeholder="e-mail" v-model="email">
                </div>
                <div class="uk-alert-danger" :uk-alert="''" v-if="emailAlerts.length > 0">
                    <ul>
                        <li v-for="alert in emailAlerts">{{'{{alert}}'}}</li>
                    </ul>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="password">Password</label>
                <div class="uk-form-controls uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip uk-text-success" :uk-icon="'icon: check'" v-if="passwordSuccess === true"></span>
                    <span class="uk-form-icon uk-form-icon-flip uk-text-danger" :uk-icon="'icon: close'" v-if="passwordSuccess === false"></span>
                    <input class="uk-input" id="password" name="password" type="password" placeholder="password" v-model="password">
                </div>
                <div class="uk-alert-danger" :uk-alert="''" v-if="passwordAlerts.length > 0">
                    <ul>
                        <li v-for="alert in passwordAlerts">{{'{{alert}}'}}</li>
                    </ul>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="confirmPassword">Confirm Password</label>
                <div class="uk-form-controls uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip uk-text-success" :uk-icon="'icon: check'" v-if="confirmSuccess === true"></span>
                    <span class="uk-form-icon uk-form-icon-flip uk-text-danger" :uk-icon="'icon: close'" v-if="confirmSuccess === false"></span>
                    <input class="uk-input" id="confirmPassword" name="confirmPassword" type="password" placeholder="password" v-model="confirmPassword">
                </div>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <h3 class="uk-card-title"><span :uk-icon="'info'"></span> Hint</h3>
                <p>
                    Consider using a longer but easier to remember password (e.g. phrase) or use a password manager like
                    <a href="https://keepass.info">KeePass</a>. Depending on your language a password of up to 500
                    characters can be entered. Make sure that it is at least 12 characters long and includes one number
                    and a special character.
                </p>
            </div>
            <div class="uk-margin">
                <!--suppress XmlUnboundNsPrefix -->
                <button class="uk-button uk-button-primary" id="registerSubmit" v-on:click.stop.prevent="submitRegistration" :disabled="submitting || !submitPossible">Submit</button>
                <div class="uk-margin-left" :uk-spinner="''" v-if="submitting"></div>
            </div>
        </form>
    </div>
</main>
{% endblock %}